.ink {
  border-radius: inherit;
  color: inherit;
  fill: currentColor;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  user-select: none;
  width: 100%;
}

.ink:focus {
  outline: none;
}
